<TabBarIOS
	unselectedTintColor="${1:yellow}"
	tintColor="${2:white}"
	barTintColor="${3:darkslateblue}"
>
<TabBarIOS.Item
	title="${4:}"
	icon={{uri:"${5:}",scale:${6:3}}}
	selected=${7:}
	onPress=${8:}
>

</TabBarIOS.Item>
</TabBarIOS>
