<DrawerLayoutAndroid
	drawerPosition='${1:DrawerConsts.DrawerPosition.Left}'
	drawerWidth=${2:300}
	keyboardDismissMode='${3:none}'
	onDrawerClose={${4:()=>{}}}
	onDrawerOpen={${5:()=>{}}}
	onDrawerSlide={${6:()=>{}}}
	onDrawerStateChanged={${7:()=>{}}}>
</DrawerLayoutAndroid>

