<NavigatorIOS
	initialRoute={
		{
			component;${1:},
			title:${2:},
			passProps:${3:}
			backButtonIcon:${4:}
			backButtonTitle:${5:}
			leftButtonIcon:${6:}
			leftButtonTitle:${7:}
			onLeftButtonPress:${8:}
			rightButtonIcon:${9:}
			rightButtonTitle:${10:}
			onRightButtonPress:${11:}
		}
	}
/>
